body {
  font-family: 'Fredoka One', sans-serif;
}

#space0, #space1, #space2, #space3, #space4, #space5, #space6, #space7, #space8 {
  height: 300px;
  width: 300px;
  border: solid white 2px;
  border-radius: 15px;
  font-size: 11em;
  text-align: center;
  padding: 35px;
  background-color: black;
  color: white;
}

.container {
  padding-left: 150px;
}

#markO {
  display: none;
  font-size: 100px;
  margin-left: 25%;
}

#markX {
  font-size: 100px;
  margin-left: 25%;
}

#play-again {
  display: none;
  font-size: 50px;
  margin-left: 25%;
}

.new-move {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 37%;
  font-size: 18px;
  margin-left: 25%;
}

.result, .tie-game {
  display: none;
  font-size: 50px;
  font-weight: bold;
  color: darkgreen;
  margin-left: 25%;
  padding-left: -20px;
}

h1 {
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.credits {
  text-align: center;
}

.wiggle {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
  }

@keyframes shake {
  10%, 90% {
      transform: translate3d(-8px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(12px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
  }
